<p><a href="" {{action "openConfirmationModal" on="click"}}>Confirmation Modal</a></p>
<p><a href="" {{action "openInformationModal" on="click"}}>Information Modal</a></p>
<p><a href="" {{action "openFormModal" on="click"}}>Form Modal</a></p>
